*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
li{
    color: black;
}
ul{
    width: 100%;
    border: none;
    padding: 0px;
    margin: 0px;
   
}
li{
    border: 1px solid black;
}
div{
    padding: 0px;
    border: none;
}
section{
    border: 40px;
    margin:40px;
    background-color: lightgray;
    color: black;
}